{
  \"Comment\":\"$COMMENT\",
  \"Changes\":[
    {
      \"Action\":\"UPSERT\",
      \"ResourceRecordSet\":{
        \"ResourceRecords\":[
          {
            \"Value\":\"$IP\"
          }
        ],
        \"Name\":\"$RECORD_NAME\",
        \"Type\":\"A\",
        \"TTL\":300
      }
    }
  ]
}
